# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\user\Documents\Projects\week3-4\java-io-api-java-se-applications-java-se-11-developer-certification-1z0-819\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
